<%= form_for @workout do |f| %>

    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :group %>
      <%= f.select :group, options_for_select(Workout.all.map {|select| [ select.group ]}.uniq), {prompt: true} %>
      
      <%= f.radio_button :group, 'Other', checked: false, onchange: "$('other_group_input')[this.checked ? 'show' : 'hide']();" %>
      <%= f.label :radio_button_label, "Other (please list): " %>
      <div id="other_group_input">
        <%= f.text_field :group_other %></div>
    </div>

    <%#= fields_for :group, @workout.group do |group_field| %>
    <%#= group_field.radio_button :group_field, 'Other', 
    onchange: "$('other_reason_input')[this.checked ? 'show' : 'hide']();" %>
    <%#= group_fields.radio_button group_fields, 'Other', checked: false, 
    onchange: "$('other_reason_input')[this.checked ? 'show' : 'hide']();" %>
    <%# end %>

    <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(Workout.all.map {|select| [ select.category ]}.uniq), {prompt: true} %>
    </div>

    <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
    </div>

    <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about %>
    </div>

    <div class="actions">
    <%= f.submit "Submit Workout" %>
    </div>

<% end %>