<%= render partial: 'layouts/error', locals: { object: @workout } %>

<%= form_for @workout do |f| %>

    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :group %>
      <%= f.select :group, options_for_select(Workout.all.map {|select| [ select.group ]}.uniq), {prompt: true} %>
      If not found, add your the workout group:
        <%= f.fields_for :workout do |w| %>
            <%= w.text_field :group %>
        <% end %>
    <div>

    <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, options_for_select(Workout.all.map {|select| [ select.category ]}.uniq), {prompt: true} %>
    </div>

    <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
    </div>

    <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about %>
    </div>

    <div class="actions">
    <%= f.submit "Submit Workout" %>
    </div>

<% end %>