<div class="container-signup">  
    <h2>Workouts</h2>


    Filter by Group:
        <%= form_tag(workouts_path, method: "get") do %>
            <%= collection_select :workout, :wod_group, Workout.select(:wod_group).distinct, :wod_group, :wod_group, prompt: true %>
            <%= submit_tag "Filter", class: "filter-btn" %>
        <% end %>
        <br>

        <%= link_to "Add a workout", new_workout_path, {class: "add-workout-btn"} %>
        
        <hr>
    
        <ul class="workouts">
            <%= render partial: 'workout', collection: @workouts %>
        </ul>
    </div>
</div>