<h1>Workouts</h1>

Filter by Category:
<%= form_tag(workouts_path, method: "get") do %>
    <%= collection_select :workout, :category, Workout.select(:category).distinct, :category, :category, prompt: true %>
    <%= submit_tag "Filter" %>
<% end %>
<br>

<div>
    <%= render partial: 'workout', collection: @workouts %>
</div>

<%= link_to "Add a workout", new_workout_path %>