<h1><%= @workout.name %></h1>

<%= render @workout %>

<%= link_to "Edit Workout", edit_workout_path(@workout) %>

<%# add it inside Helper %>
<% if @workout.scores.blank? %>
    <%= button_to "Delete Workout", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>

<%= link_to "See #{@workout.name}'s scores", workout_scores_path(@workout) %>