<div class="container">
    <h2><%= @workout.name %></h2>
    <hr>

        <ul class="workout-show">
            <li>
                <%= render @workout %>
                <br>
                <p><%= @workout.about %></p>
            </li>
        </ul>

        <br>
            <%= helper_edit_workout_link %>
            <%= helper_delete_workout_link %>
        <br><br><br>     
        
        <%= link_to "Check Scores", workout_scores_path(@workout), class: "score-btn" %>
</div>