<div class="container">
    <h2><%= @workout.name %></h2>
    <hr>

        <ul class="workout-show">
            <li>
                <%= render @workout %>
                <br>
                <p><%= @workout.about %></p>
            </li>
        </ul>

        <%# add it inside Helper? %>
        <% if logged_in? && @workout.scores.blank? %>
            <br>
            <%= link_to "Edit", edit_workout_path(@workout), class: "edit-score-btn" %>
            <%= button_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-score-btn" %>
            <br><br><br>
        <% end %>
        
        
        <%= link_to "Check Scores", workout_scores_path(@workout), class: "score-btn" %>
</div>