<div class="container">
    <div class="row">
        <h2 style="text-align:center">Login with Google or Manually</h2>
        <div class="vl">
            <span class="vl-innertext">or</span>
        </div>

        <div class="col">
            <%= button_to '/auth/google_oauth2', {class: "google-btn"} do %>
                <i class="fa fa-google fa-fw">
                    </i>Log in with Google
            <% end %> 
        </div>

        <div class="col">
            <div class="hide-md-lg">
                <p>Or sign in manually:</p>
            </div>

            <span class="req">
            <% flash.each do |type, msg| %>
                <%= msg %>
            <% end %>
            </span>
            

            <%= form_for :user, url: '/login' do |f| %>
                <div class="login">
                    <%#= f.label :email %>
                    <%= f.email_field :email, placeholder: "Email" %>
                </div>

                <div class="login">
                    <%#= f.label :password %>
                    <%= f.password_field :password, placeholder: "Password" %>
                </div>

                <div class="login">
                <%= f.submit "Log In", {class: "login-btn"} %>
                </div>
            <% end %>
            <br>
             <%= link_to "Don't have an account?", signup_path %>
        </div>
    </div>
</div>