<div class="container">
    <h2>Edit Your <%= @score.workout.name %>'s Score</h2>
        <%= render partial: 'workouts/workout', locals: { workout: @score.workout } %>
        <hr>

            <div class="col">
                <%= form_for @score do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :workout_id, value: @score.workout.id %>

                    <%= render partial: 'form', locals: { f: f } %>
                    <%= f.submit "Update Score", {class: "gym-btn"} %>
                <% end %>
            </div>
</div>