<div class="container">
    <h2><%= @workout.name %>'s Scores</h2>
    
        <ul class="workout-show">
            <li>
                <%= render partial: 'workouts/workout', locals: {workout: @workout} %>
            </li>
        </ul>
    <hr>

    <h3>Leaderboard</h3>

        <% @scores.each do |score| %>
            <% if score.public? %>
                <ul class="workout-show">
                <li>
                    <%# <p>Athlete: <strong><%= score.user.first_name unless score.user.blank? || score.user.first_name.blank? %> <%= score.user.last_name unless score.user.blank? || score.user.last_name.blank?%></strong></p>
                    <% if score.user.blank? %>
                        <p>Athlete: --</p>
                    <%else %>
                        <p>Athlete: <strong><%= score.user.first_name %> <%= score.user.last_name %></strong></p>
                    <% end %>
                    <p><strong><%= score.rx_scale %></strong></p>
                    <% if score.workout.category == "For time" %>
                        <p>Time: <strong><%= format_time score.result_time, :time %></strong></p>
                    <% else %>
                        <p><strong><%= score.result_reps %> reps</strong></p>
                    <% end %>
                    <p><%= format_date score.date %></p>
                </li>
            <% end %>

            <% if score.user == current_user %>
                <%= link_to "Edit", edit_score_path(score), class: "edit-score-btn" %>
                <%= link_to "Delete", score_path(score), method: 'delete', class: "delete-score-btn" %>
                <br>
            <% end %>
                </ul>
                <br>
        <% end %>

    <%= link_to "Add your score", new_workout_score_path, class: "add-score-btn" %>
</div>