<div class="container">
    <h2><%= @workout.name %>'s Scores</h2>
    
        <ul class="workout-show">
            <li>
                <%= render partial: 'workouts/workout', locals: {workout: @workout} %>
            </li>
        </ul>
    <hr>

    <h3>Leaderboard</h3>

        <% @scores.each do |score| %>
            <% if score.public? || score.user == current_user %>
                <ul class="workout-show">
                <li>
                    <p>Athlete: <strong><%= helper_score_no_user(score) %></strong></p>
                    <%= render partial: 'score', locals: { score: score } %>
                </li>
            <% end %>

            
                <%= link_to "Edit", edit_score_path(score), class: "edit-score-btn" unless score.user != current_user %>
                <%= link_to "Delete", score_path(score), method: 'delete', class: "delete-score-btn" unless score.user != current_user %>
                <br>
            
                </ul>
                <br>
        <% end %>

    <%= link_to "Add your score", new_workout_score_path, class: "add-score-btn" %>
</div>