<h1><%= @workout.name %>'s Scores</h1>
<%= render partial: 'workouts/workout', locals: {workout: @workout} %>

<h2>Scores</h2>

<% @workout.scores.each do |score| %>
    <% if score.public? %>
        <div><%= score.user.first_name %> <%= score.user.last_name %></div>
        <div><%= score.rx_scale %></div>
        <div><%= score.result_by_category %></div>
        <div><%= score.date %></div>

         <% if score.user == current_user %>
            <div><%= link_to "Edit Score", edit_score_path(score) %></div>
            <div><%= link_to "Delete Score", score_path(score), method: 'delete' %></div><br>
        <% end %>
    <% end %>
    <br>
<% end %>

<%= link_to "Add your score", new_workout_score_path %>