<%= render partial: 'layouts/error', locals: { object: @user } %>

    <div class="col">
        <%= f.label :email %><br>
        <%= f.email_field :email, {placeholder: "dave@crossfit.com (required)" , class: "form-group"} %><br>

        <%= f.label :password %><br>
        <%= f.password_field :password, {placeholder: "password (required)", class: "form-group"} %><br>

        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, {placeholder: "Dave (required)", class: "form-group"} %><br>

        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, {placeholder: "Castro (required)", class: "form-group"} %><br>

        <%= f.label :age %><br>
        <%= f.number_field :age, {placeholder: 32, class: "form-group"} %><br>
        
        <%= f.label :height, "Height (in)" %><br>
        <%= f.number_field :height, {in: 1.00..8.00, step: 0.01, placeholder: "5.11", class: "form-group"} %><br>

        <%= f.label :weight, "Weight (lbs)" %><br>
        <%= f.number_field :weight, {placeholder: 171, class: "form-group"} %><br>
        
        <%= f.label :country %><br>
        <%= f.text_field :country, {placeholder: "United States", class: "form-group"} %><br>
    </div>

    <div class="col">
        <h3>Select Your CrossFit Affiliate Gym:</h3>
            <%= f.collection_select :gym_id, Gym.all, :id, :name, {prompt: true} %>
        <p>If not found, add your gym below: </p>
            <%= f.fields_for :gym do |g| %>
                <%= render partial: 'gyms/form', locals: { f: g } %>             
            <% end %>
    <div>