<%= form_for([@gym, @user], url: signup_path) do |f| %>
    
    <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>

    <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    </div>

    <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    </div>

    <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age %>
    </div>

    <div class="form-group">
    <%= f.label :height, "Height (in)" %>
    <%= f.number_field :height, in: 1.0..8.0, step: 0.1 %>
    </div>

    <div class="form-group">
    <%= f.label :weight, "Weight (lbs)" %>
    <%= f.number_field :weight %>
    </div>

    <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country %>
    </div>

    <%# ERROR when render :new is not showing up the create new gym form %>
    <div class="form-group">
    <h3>Select Your CrossFit Affiliate Gym:</h3>
        <%= f.collection_select :gym_id, Gym.all, :id, :name, {prompt: true} %>
    <p>If not found, add your gym below: </p>
        <%= f.fields_for :gym do |g| %>
            <%= render partial: 'gyms/form', locals: {f: g} %>
        <% end %>

    <div class="actions">
    <%= f.submit "Create Account" %>

<% end %>