<div class="container">
    <h2><%= @user.first_name %> <%= @user.last_name %> Profile Page</h2>

    <ul class="profile">
        <li>
            <p><%= helper_display_or_hide_email %></p>
            <%= render 'user' %>
        </li>
    </ul>
            <%= helper_edit_profile_link %>
            <%= helper_delete_profile_link %>
            <br><br>
        <hr>

    <h3>Your Workout Scores</h3>

        <% @user.scores.each do |score| %>
            <% if score.public? || @user == current_user %>
                <ul class="workout-show">
                    <li>    
                        <h4><%= link_to score.workout.name, workout_scores_path(score.workout), class:"profile-gym-link" %></h4>
                            <%= render partial: 'scores/score', locals: { score: score } %>
                        <p><%= helper_public_private(score) %></p>
                    </li>
            <% end %>
                        <%= helper_edit_score_link(score) %>
                        <%= helper_delete_score_link(score) %>
                    <br>
                </ul>
        <% end %>
</div>