<div class="header-welcome">
    <div class="search">
        <%= form_tag root_path, method: 'get' do %>
            <%= label_tag :search, "Find Workouts" %><br>
            <%= text_field_tag :search, params[:search], placeholder: "e.g. Squat" %>
            <%= submit_tag "Search", {class: "search-btn"} %>
        <% end %>
    </div>
</div>

<div class="content-welcome">
    <% if @workouts.empty? %>
        <p>Sorry, no workouts were found.</p>
    <% else %>
        <h2><%= params[:search] %></h2>
        <% @workouts.each do |workout| %>
            <ul class="welcome">
            <li><%= link_to workout.name, workout_path(workout), {class: "search-workouts-link"} %></li>
            </ul>
        <% end %>
    <% end %>
</div>