<div class="container">
    
    <div class="gym-show">
        <h2><%= @gym.name %></h2>
        <p><%= helper_gym_website %></p>
        <p><%= helper_gym_address %></p>
    </div>
    <br>

        <% if current_user_belongs_to_gym %>
            <%= link_to "Edit Gym", edit_gym_path(@gym), class: "edit-gym-btn" %>
            <%= link_to "Delete Gym", gym_path(@gym), method: 'delete', data: { confirm: "Are you sure? All #{@gym.name}'s Athletes will also be deleted" }, class: "delete-gym-btn" %>
            <br><br>
        <% end %>
    <hr>

    <h3>Athletes:</h3>
        <%= helper_leave_join_gym_link %>
        <br><br>

        <% @gym.users.each do |user| %>
            <ul class="workout-show">
                <li>
                    <p><%= helper_gym_users_link(user) %></p>
                </li>
            </ul>
        <% end %>
</div>