<div class="navbar">
    <div class="a"><%= link_to "HOME", root_path %></div>
        <div class="dropdown">
            <button class="dropbtn">WORKOUTS
              <i class="fa fa-caret-down"></i>
            </button>
                <div class="dropdown-content">
                    <div class="a"><%= link_to "FOR TIME", workouts_path(category: "For time") %></div>
                    <div class="a"><%= link_to "AMRAP", workouts_path(category: "AMRAP") %></div>
                    <div class="a"><%= link_to "EMOM", workouts_path(category: "EMOM") %></div>
                    <div class="a"><%= link_to "ALL", workouts_path %></div>
                </div>
        </div>
        <div class="a"><%= link_to "GYMS", gyms_path %></div>
        <% if logged_in? %>
            <div class="a"><%= link_to "PROFILE", user_path(current_user.id) %></div>
            <div class="a"><%= link_to "LOG OUT", logout_path, method: 'delete' %></div>
        <% else %>
            <div class="a"><%= link_to "SIGN UP", signup_path %></div>
            <div class="a"><%= link_to "LOG IN", login_path %></div>
        <% end %>
</div>